@model IEnumerable<IdentityTemplate.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewApproval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewApproval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
        </td>
    </tr>
}

</table>
